# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
venv/
.env

# IDEs and text editors
.idea/
.vscode/

# Log files
*.log

# Unit test / coverage reports
.coverage
htmlcov/

# Temporary files
*.tmp
*.swp
.DS_Store
